* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
  vertical-align: bottom;
}

a {
  text-decoration: none;
  color: initial;
}

ul li {
  list-style: none;
}

:root {
  --main-fonts: 'ヒラギノ角ゴシック','Hiragino Sans',sans-serif;
  --title-fonts: 'ヒラギノ明朝 ProN W3','Hiragino Mincho ProN',sans-serif
}

.pc-show {
  display: block;
}

.sp-show {
  display: none;
}

@media screen and (max-width: 767px) {
  .pc-show {
    display: none;
  }
  
  .sp-show {
    display: block;
  }
}